lightning==1.9
hydra-core
einops
yacs
fvcore
openxlab==0.0.34
mmsegmentation
mmdet3d
spconv-cu118
gsplat
ftfy
regex
# numba==0.59
# scikit-image==0.23.2
numpy==1.26.1
transformers==4.56.0
# vtk==9.0.1
# mayavi==4.7.3
# xvfbwrapper
# pyqt5
